<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>cockpit showcase - router configuration</title>
</h:head>

<h:body>
	<h1>fox cockpit showcase</h1>	
	<h2>update router configuration</h2>
	
	<h:form>
		Router Serial number: 
		<h:inputText value="#{processVariables['serialnumber']}" />
		<br />
		<h:commandButton value="Submit" action="#{businessProcess.startProcessByKey('configure-router')}" />
    </h:form>
</h:body>

</ui:composition>