<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Escalate overdue tasks</title>
</h:head>

<h:body>
    <h1>Due Tasks</h1>
    <h:form id="someForm">
        User for escalation: <h:inputText value="#{taskEscalationBean.escalateToUser}" />
	    <h:commandButton id="submit_button" value="escalate all currently due tasks" action="#{taskEscalationBean.escalateTasks()}" />        

	    <h:dataTable value="#{taskEscalationBean.dueTasks}" var="currentTask">
				<h:column>
					<f:facet name="header">Task Name</f:facet>#{currentTask.name}
				</h:column>
				<h:column>
					<f:facet name="header">Due date</f:facet>
					<h:outputText value="#{currentTask.dueDate}">
                  		<f:convertDateTime pattern="yyyy-MMM-dd HH:mm" />
	                </h:outputText>
				</h:column>
				<h:column>
					<f:facet name="header">Current assignee</f:facet>#{currentTask.assignee}
				</h:column>
				<h:column>
					<f:facet name="header">Actions</f:facet>
						<h:commandButton id="excalate_button" value="escalate" action="#{taskEscalationBean.escalateTask(currentTask)}" />											
				</h:column>
			</h:dataTable>
    </h:form>
</h:body>

</html>